.App {
    overflow-x: hidden;
}
body {
    height: 100svh;
}
img {
    height: auto;
    width: 100%;
}

.headerBanner {
    background-color: #8DB9CA;
    color: white;
    padding: 5px;
}
.headerBanner p {
    padding: 0;
    margin: 0;
}
#header {
    font-family: Josefin Sans, Bold;
    background-color: white;
}

#header .link {
 padding: 10px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

#hero {
    position: relative;
    isolation: isolate;
    height: 100vh;
    width: 100vw;
}

#hero .background {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}
  
.flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroText {
    max-width: 60rem;
    margin-inline: auto;
    height: 80%;
}
.heroText h1 {
    color: white;
    font-size: 3rem;
}
.heroText button {
    color: black;
    background-color: white;
    border: white;
    border-radius: 30px ;
    padding: 1rem;
}

.exploreTag {
    position: absolute;
    bottom: 20px;
    left: 50%;
    translate: -50%;
    z-index: 1;
}
.exploreTag img {
    width: 15px;
    margin-left: 10px;
}
.exploreTag span {
    color: white;
    font-size: 23px;
}
  
#bestsellersCarousel {
    display: flex;
    flex-direction: row;
}

#bestsellers {
    background-color: white;
}

.flex-left-column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.bestseller {
    width: 20%;
    padding: 2rem;
}
.bestseller figure {
    margin: 0;
}

.starRating {
    display: flex;
    flex-direction: row;

}

.flex-row {
    display: flex;
}

.colorPickerDiv {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px lightgray solid;
    margin: 4px;
}

.colorPickerDiv:hover::after {
    display: inline-block;
    content: "";
    border: 1px black solid;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    translate: -3px -3px;
    
}